<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="x-ua-compatible" content="IE=Edge"/>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <!-- Title block allowing child pages to override -->
        <title>{% block title %}Shropgeek (R)evolution 2014{% endblock %}</title>
        <link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />
        <link rel="shortcut icon" type="image/ico" href="{{ "favicon.png" | asset_url }}" />
        {% include "typekit" %}
        <!-- Styles -->
        {{ "global.css" | asset_url | stylesheet_tag }}
        <!-- Style block allowing child pages to inject their own styles -->
        {% block styles %}{% endblock %}
    </head>
    <body>
        {% include "header" %}
        {% block open-wrapper %}
          <div class="wrapper">
        {% endblock %}

            <!-- Content block, child page inject content -->
            {% block content %}{% endblock %}
        {% block close-wrapper %}
          </div>
        {% endblock %}

        <!-- Script block allowing child pages to inject their own scripts -->
        {% block scripts %}{% endblock %}
        {{ "modernizer.min.js" | asset_url | script_tag }}
        {{ "svgeezy.min.js" | asset_url | script_tag }}
        <script>
            svgeezy.init('nocheck', 'png');
        </script>
    </body>
</html>
