{% block title %}About{% endblock %}
{% block open-wrapper %}
{% endblock %}
{% block content %}
<div class="about">
    <div class="hero hero--short hero--border">
        <div class="wrapper">
            <h1>About</h1>
            <p class="subtitle">Shropshire's original web conference</p>
        </div>
    </div>
        <div class="owl-carousel js-photos-carousel">
            <div class="item"><img src="{{ "1.jpg" | asset_url }}"></div>
            <div class="item"><img src="{{ "2.jpg" | asset_url }}"></div>
            <div class="item"><img src="{{ "3.jpg" | asset_url }}"></div>
            <div class="item"><img src="{{ "4.jpg" | asset_url }}"></div>
        </div>
    <div class="about__content">
        <div class="wrapper">
            <div class="about__grid-row">
                <div class="about__blurb-grid-unit">
                    <div class="about__blurb">
                        <p>For the past half-decade, Shropgeek has grown from a simple, single-celled idea to a multi-headed entity of an event. Its evolution follows the course of natural selection with the best ideas staying around (beer, banter, knowledge-sharing) and bad ones dying off... well, not so much the dying part.</p>
                        <p>Each month, a group of like-minded people <a href="http://shropgeek.co.uk">meet in the 'Shire's pubs</a> to enjoy real ale and banter, proudly exploring ideas considered geeky: code, mobile technology, design and the Web. The group has expanded, and the ideas grow beyond the expectations of some friendly geeks.</p>
                        <p>As Shropshire's original Web Conference, we celebrate the "survival of the fittest" ideas by hosting an annual event in the town of Darwin's birth. This year, we've expanded into a full-day, hosting some of the Web's best talent to share skills and present earth-shattering ideas.</p>
                        <p>Bigger. Better. More speakers. Probably more beer: you're invited to join the (R)Evolution.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about__team">
        <div class="wrapper">
            <div class="about__grid-row">
                <div class="about__team__team-grid-unit">
                    <div class="about__team__team">
                        <h2>The team</h2>
                        <ul class="about__team__list">
                            <li class="about__team__list__item">
                                <div class="person">
                                    <div class="media-block">
                                            <img src="{{ "kirsty.jpg" | asset_url }}">
                                            <div>
                                                <p class="person__name">Kirsty Burgoine</p>
                                                <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                                <p class="person__link"><a href="http://www.kirstyburgoine.co.uk">kirstyburgoine.co.uk</a></p>
                                            </div>
                                    </div>
                                    <p class="person__description">Web designer / developer living in Shropshire. WordPress specialist. Owner of Kirsty Burgoine Ltd. Organiser of @shropgeek</p>
                                </div>
                            </li><!--
                            --><li class="about__team__list__item">
                                <div class="person">
                                    <div class="media-block">
                                            <img src="{{ "zach.jpg" | asset_url }}">
                                            <div>
                                                <p class="person__name">Zach Beauvais</p>
                                                <p class="person__link"><a href="http://twitter.com/beauvais">@beauvais</a></p>
                                                <p class="person__link"><a href="http://www.zachbeauvais.co.uk">zachbeauvais.co.uk</a></p>
                                            </div>
                                    </div>
                                    <p class="person__description">Writer, evangelist, strategist: telling stories, exploring ideas, nurturing communities.</p>
                                </div>
                            </li><!--
                            --><li class="about__team__list__item">
                                <div class="person">
                                    <div class="media-block">
                                            <img src="{{ "kirsty.jpg" | asset_url }}">
                                            <div>
                                                <p class="person__name">Kirsty Burgoine</p>
                                                <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                                <p class="person__link"><a href="http://www.kirstyburgoine.co.uk">kirstyburgoine.co.uk</a></p>
                                            </div>
                                    </div>
                                    <p class="person__description">Web designer / developer living in Shropshire. WordPress specialist. Owner of Kirsty Burgoine Ltd. Organiser of @shropgeek</p>
                                </div>
                            </li><!--
                            --><li class="about__team__list__item">
                                <div class="person">
                                    <div class="media-block">
                                            <img src="{{ "zach.jpg" | asset_url }}">
                                            <div>
                                                <p class="person__name">Zach Beauvais</p>
                                                <p class="person__link"><a href="http://twitter.com/beauvais">@beauvais</a></p>
                                                <p class="person__link"><a href="http://www.zachbeauvais.co.uk">zachbeauvais.co.uk</a></p>
                                            </div>
                                    </div>
                                    <p class="person__description">Writer, evangelist, strategist: telling stories, exploring ideas, nurturing communities.</p>
                                </div>
                            </li><!--
                            --><li class="about__team__list__item">
                                <div class="person">
                                    <div class="media-block">
                                            <img src="{{ "zach.jpg" | asset_url }}">
                                            <div>
                                                <p class="person__name">Zach Beauvais</p>
                                                <p class="person__link"><a href="http://twitter.com/beauvais">@beauvais</a></p>
                                                <p class="person__link"><a href="http://www.zachbeauvais.co.uk">zachbeauvais.co.uk</a></p>
                                            </div>
                                    </div>
                                    <p class="person__description">Writer, evangelist, strategist: telling stories, exploring ideas, nurturing communities.</p>
                                </div>
                            </li><!--
                            --><li class="about__team__list__item">
                                <div class="person">
                                    <div class="media-block">
                                            <img src="{{ "zach.jpg" | asset_url }}">
                                            <div>
                                                <p class="person__name">Zach Beauvais</p>
                                                <p class="person__link"><a href="http://twitter.com/beauvais">@beauvais</a></p>
                                                <p class="person__link"><a href="http://www.zachbeauvais.co.uk">zachbeauvais.co.uk</a></p>
                                            </div>
                                    </div>
                                    <p class="person__description">Writer, evangelist, strategist: telling stories, exploring ideas, nurturing communities.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="about__grid-row">
                <div class="about__team__volunteers-grid-unit">
                    <h3>Volunteers</h3>
                    <ul class="volunteers__list">
                        <li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li><!--
                        --><li>
                            <div class="media-block volunteer">
                                <img src="{{ "kirsty.jpg" | asset_url }}">
                                <div>
                                    <p class="person__name">Kirsty Burgoine</p>
                                    <p class="person__link"><a href="http://twitter.com/kirstyburgoine">@kirstyburgoine</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="about__team__credits-grid-unit">
                    <h3>Credits</h3>
                    <p>This site was designed and developed by <a href="http://mynameismartin.com">Martin Wright</a>, and illustrated by <a href="http://stinajones.co.uk/" >Stina Jones</a>. Special thanks to <a href="http://neilkinnish.com/">Neil Kinnish</a> for the location map.</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
{% block close-wrapper %}
{% endblock %}
{% block scripts %}
{{ "owl.carousel.min.js" | asset_url | script_tag }}
<script>
    $(document).ready(function() {

      $(".js-photos-carousel").owlCarousel({
        items : 2,
        itemsDesktop : [1024,2],
        itemsDesktopSmall : false,
        itemsTablet : false,
        itemsMobile : [480,1] // itemsMobile disabled - inherit from itemsTablet option
      });
    });
</script>
{% endblock %}
